<!DOCTYPE html>
<html lang="en">
<head>
    <title>Siw Catalog - Update Product</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/updateProduct.css">
</head>
<body>
  <nav>
    <h1><a href="/" id="siw-nav-title">SIWCATALOG</a></h1>
    <h2>Admin - Update Product</h2>
    <a href="/logout" class="log">LOG OUT</a>
  </nav>
  <div class="container">
    <h2 th:text="${'Product: ' + product.name + ' (' +product.code + ')'}"></h2>
<!--    <div th:if="${movie.director == NULL}">
      Director currently not set
      <a th:href="@{'/admin/addDirector/' + ${movie.id}}"><button>SET DIRECTOR</button></a>
    </div>

    <div th:unless="${movie.director == NULL}">
      <h4>Director:</h4>
      <span th:text="${movie.director.name} + ' ' + ${movie.director.surname}">Mario Verdi</span>
      <a th:href="@{'/admin/removeDirectorToMovie/' + ${movie.id}}"><button>REMOVE</button></a>
    </div>
-->
    <div th:if="${product.suppliers == NULL or product.suppliers.isEmpty()}">
      No suppliers currently set
      <span><a th:href="@{'/admin/updateSuppliersOnProduct/' + ${product.id}}"><button>SET SUPPLIERS</button></a></span>
    </div>
    <div th:unless="${product.suppliers == NULL or product.suppliers.isEmpty()}">
      <h4>Suppliers: <a th:href="@{'/admin/updateSuppliersOnProduct/' + ${product.id}}"><button>EDIT SUPPLIERS</button></a></h4>
      <ul>
        <li th:each="supplier : ${product.suppliers}" th:text="${supplier.name} + ' ' + ${supplier.surname} + ' ' + ${supplier.iva}">    <!--+ ' (' + ${#temporals.format(actor.birthDate, 'dd-MM-yyyy')} +')'-->
          Mario Rossi 1234
        </li>
      </ul>
    </div>
  </div>
</body>
</html>