body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products{
    margin: 2rem;
}

.product-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product{
    font-size: 18px;
    margin: 0.8rem;
}